:host {
    display: flex;
    justify-content: center;
}

.form-fields {
    .is-loading & {
        opacity: .4;
    }
}

.spinner {
    z-index: 100;
    display: none;
    position: absolute;
    left: 50%;
    top: 100px;

    mat-spinner {
        position: relative;
        left: -50%;
    }

    .is-loading & {
        display: block;
    }
}

.user-exist {
    margin: 10px 0;
    background: hotpink;
    padding: 4px 0;
    color: white;
    text-align: center;
}
