<mat-card class="forms" [ngClass]="{'is-loading': loading}">
    <mat-card-title>Registration</mat-card-title>
    <mat-card-content>
        <form [formGroup]="registrationForm">

            <div class="spinner">
                <mat-spinner></mat-spinner>
            </div>

            <div class="form-fields">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name" minlength="6">
                </mat-form-field>
                <div class="invalid"
                     [hidden]="registrationForm.controls.name.valid || registrationForm.controls.name.pristine">
                    Invalid username
                </div>

                <mat-form-field>
                    <input type="email" matInput placeholder="Email" formControlName="username">
                </mat-form-field>
                <div class="invalid"
                     [hidden]="registrationForm.controls.username.valid || registrationForm.controls.username.pristine">
                    Invalid e-mail
                </div>

                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password" minlength="6">
                </mat-form-field>
                <div class="invalid"
                     [hidden]="registrationForm.controls.password.valid || registrationForm.controls.password.pristine">
                    Invalid password
                </div>

                <div class="invalid user-exist"
                     *ngIf="error">
                    {{error}}
                </div>

                <div class="buttons">
                    <button mat-stroked-button color="primary"
                            [routerLink]="['/login']"
                            type="button">
                        Back to login
                    </button>
                    <button mat-button mat-raised-button color="primary"
                            [disabled]="registrationForm.invalid"
                            (click)="onSubmit()"
                            type="submit">
                        Create account
                    </button>
                </div>

            </div>
        </form>


    </mat-card-content>
</mat-card>
