<div class="user-selector"
     *ngIf="isSelectOpen"
     [@signal]="animationSignal">

    <div *ngFor="let user of users"
         class="user-list">

        <i class="material-icons">
            face
        </i>
        <div class="user"
             (click)="setUsername(user)">
            <span class="name">{{user.name}}</span>
            <span class="username">{{user.username}}</span>
        </div>
        <span (click)="removeUser(user)" class="remove">
            <mat-icon>close</mat-icon>
        </span>
    </div>
    <div *ngIf="!users || users?.length === 0" class="user-list">
        No users here ;( go ahead and create the first one!
        <button mat-raised-button color="primary"
                type="button"
                [routerLink]="['/registration']">
            Create
        </button>
    </div>
</div>

<span class="user-selector-trigger" (click)="isSelectOpen = !isSelectOpen">
    <span *ngIf="!control.value.username">Select user</span>
    <span *ngIf="control.value.username">{{control.value.username}}</span>
</span>


