<!--<mat-form-field>-->
<!--    <mat-select placeholder="Toppings" [formControl]="toppings" multiple>-->
<!--        <mat-select-trigger>-->
<!--            {{toppings.value ? toppings.value[0] : ''}}-->
<!--            <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">-->
<!--        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})-->
<!--      </span>-->
<!--        </mat-select-trigger>-->
<!--        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>-->
<!--    </mat-select>-->
<!--</mat-form-field>-->

<!--<mat-menu #appMenu="matMenu">-->
<!--    <div *ngFor="let user of users">-->
<!--        <div class="list">-->
<!--            <div class="user">-->
<!--                <span class="name">{{user.name}}</span>-->
<!--                <span class="username">{{user.username}}</span>-->
<!--            </div>-->
<!--            <span (click)="removeUser($event)" class="remove">-->
<!--                <mat-icon>close</mat-icon>-->
<!--            </span>-->
<!--        </div>-->
<!--    </div>-->
<!--</mat-menu>-->

<!--<button mat-icon-button [matMenuTriggerFor]="appMenu">-->
<!--    <mat-icon>more_vert</mat-icon>-->
<!--</button>-->


<app-custom-dropdown [addDynamicContent]="true" [(value)]="username" (valueChange)="setUsername(username)">
    <app-custom-dropdown-item *ngFor="let user of users" [value]="user">
        <div class="list">
            <div class="user">
                <span class="name">{{user.name}}</span>
                <span class="username">{{user.username}}</span>
            </div>
            <span (click)="removeUser(user)" class="remove">
                <mat-icon>close</mat-icon>
            </span>
        </div>
    </app-custom-dropdown-item>
</app-custom-dropdown>

